{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="logo">
    <h2 style="color:white;">Crosscheck Login</h2>
</div>

<form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-item">
        {{ form.email(class="form-style", placeholder="Email") }}
    </div>

    <div class="form-item">
        {{ form.password(class="form-style", placeholder="Password") }}
    </div>

    {{ form.submit(class="login", value="Login") }}

    <div class="clear-fix"></div>
</form>

<p style="color:white; margin-top:15px; text-align:center;">
    New here? <a href="{{ url_for('register') }}" style="color:white;">Register</a>
</p>
{% endblock %}